body {
  font-family: "Poppins", sans-serif;
}
header {
  background: #2d25a0;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  margin: 25px;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: white;
  width: 46px;
  height: 24px;
  margin-right: 15px;
}

/* football container style */
.football-container {
  display: flex;

}

.football-half h1 {
  font-size: 64px;
  width: 485px;
  height: 230px;
  color: white;
  padding-top: 5px;
  margin-left: 100px;
}

.football-half img {
  width: 456px;
  height: 338px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 20px;
}

.link-button {
  font-size: 16px;
  text-decoration: none;
  background-image: linear-gradient(green, yellow);
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  color: red;
}

/* Football Player container Box */
.football-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 50px;
  
}
.player-box {
  height: 474px;
  width: 330px;
  left: 180px;
  top: 747px;
  margin: 15px;
  
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px black  ;
}
.player-box img {
  width: 300px;
  height: 256px;
}
.player-info {
  height: 154px;
  width: 300px;
}
.player-info h3 {
  font-size: 28px;
  text-align: left;
}
.player-info p{
  Font size: 16px;
  text-align: left;
}

/* second section football club */

.text-color {
  color: green;
  font-size: 50px;
}

/* football logo design */
.footer-container {
  padding-top: 100px;
  text-align: center;
}
.footer-container img {
  height: 110px;
}

/* footer icon style */
.fab {
  margin: 15px;
  font-size: 20px;
  /* align-items: center; */
  justify-content: center;
}
