body {
  font-family: "Poppins", sans-serif;
}

/* football container style */
.football-container {
  
  background-color: blue;
   width: 100%;
   height: 600px;
 
}

.football-heading{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
}

.football-half h1 {
  font-size: 64px;
  width: 485px;
  height: 230px;
  color: white;
  padding-top: 5px;
  margin-left: 100px;
  
}

.football-banner img {
  width: 456px;
  height: 338px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 20px;
  
  
            
}
.football-banner img:hover{
  width: 50px;
  height: 50px;
  transition: ease-in;
  transition: width 2s, height 2s, transform 2s;
  transform:skewY(0.5)                                                             
}

.link-button {
  font-size: 16px;
  text-decoration: none;
  background-image: linear-gradient(green, yellow);
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  color: red;
}

  .players{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  
 
  }

.player-box {
  height: 474px;
  width: 330px;
  left: 180px;
  top: 747px;
  margin: 15px;
  margin-left: 100px;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px black  ;
}
.player-box img {
  width: 300px;
  height: 256px;
}
.player-info {
  height: 154px;
  width: 300px;
}
.player-info h3 {
  font-size: 28px;
  text-align: left;
}
.player-info p{
  Font size: 16px;
  text-align: left;
}

/* second section football club */

.club-container3{

}
.section-title{
  font-size: 56px;
  text-align: center;
  padding: 25px;
  color: #2d25a0;
}
.clubs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  padding-left: 15%;
}
.club{
  width: 350px;
  height: 350px;
  padding-right: 25px;
  padding-left: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px black  ;
  margin: 10px;
}
.club img{
  width: 250px;
  height: 200px;
}
.club-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.club-detail p{
  font-size: 16px;
}

/* football logo design */
.footer-container {
  padding-top: 100px;
  text-align: center;
}
.footer-container img {
  height: 110px;
}

/* footer icon style */
.fab {
  margin: 15px;
  font-size: 20px;
  justify-content: center;
}


/* mobile responsive football-container2 */

@media only screen and (max-width: 768px) {

  .football-container ,.football-container2 ,.club-container3 {
    width: 100%;
  }
  .football-heading, .players, .clubs{
    grid-template-columns: repeat(1, 1fr);
  }
  .football-container {
    width: 100%; 
  }

  .football-half h1 {
    font-size: 40px;
    width: 350px;
    height: 200px;
    color: white;
    padding-top: 5px;
    margin-left: 20px;

  }
  .football-banner img {
    
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: -195px;           
  }
  .players{
  margin-left: -90px;
  }
  
  .clubs{
    
     padding-left: 1%;
  }
  .footer-container{
    width: 100% ;
  }
  .footer-container img{
    width: 360px;
  }
}

/* Tablet media */

@media only screen and (min-width:600px) and (max-width: 992px)  {
   
  
  .football-container ,.football-container2 ,.club-container3 ,.clubs{
    width: 100%;
  }
  .football-heading, .players, .clubs{
    grid-template-columns: repeat(2, 1fr);
  }
  .football-banner img {
    width: 456px;
    height: 350px;
    margin-right: 20px;
    
    padding-bottom: 100px;          
  }
  .football-half h1 {
    
    font-size: 40px;
    
  }
  .link-button {
    font-size: 16px;
  }
  .player-box {
    flex-direction: column;
  }
  
  .player-box{
    left: 10px;
  }
  .clubs{
    
    padding-left: 5%;
 }
 .footer-container{
   width: 100% ;
 }
 .footer-container img{
   width: 360px;
 }
}

